In [1]:
import pandas as pd
import numpy
import scipy.stats as stats
from StringIO import StringIO

In [2]:
data_s = """Параметр	СССР	США
Грунт	329	381734
Статей	91	384
Образцов	3	2413
Высадок	3	6
Астронавтов	0	12"""

In [3]:
df = pd.read_csv(StringIO(data_s), sep='\t')
df

      Параметр  СССР     США
0        Грунт   329  381734
1       Статей    91     384
2     Образцов     3    2413
3      Высадок     3       6
4  Астронавтов     0      12

Первый способ:

In [4]:

df.corr(method='pearson')

          СССР       США
СССР  1.000000  0.961947
США   0.961947  1.000000

Второй способ:

In [6]:
coeff, pvalue = stats.pearsonr(df['СССР'], df['США'])
print(u"Коэффициент корреляции Пирсона: {}".format(coeff))
print(u"p value: {}".format(pvalue))

Коэффициент корреляции Пирсона: 0.961946540828
p value: 0.00885993370554